/***Partners block***/

.popup_button {
    /*width: 270px;*/
    /*height: 133px;*/
    /*border-radius: 5px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: white;*/
    /*padding: 30px;*/
    /*position: relative;*/
    cursor: pointer;
}
.popup_button img {
    max-width: 100%;
}
.partners_item_popup_wrapper {
    display: none;
}

.partners-block-section .popup_button:after {
    content: '';
    background-image: url(../images/Information_Icon.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 9px;
    right: 9px;
}
#popup_close_button {
    width: 16px;
    height: 16px;
    background-image: url(../images/close-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.popup_content_wrapper {
    position: absolute;
    background: white;
    z-index: 10000000000000000000000000000000000000000000000000001;
    max-width: 1130px;
    padding: 60px;
    margin: 20px;
    border-radius: 5px;
    max-height: 90%;
}

.popup_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(19, 16, 50, 0.8);
    z-index: 1000000000000000000000000000000000000000000000000000;
}
.item_popup_wrapper, .popup-main-wrapper {
    display: none;
}
.popup-main-wrapper.popup_opened {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}
.popup-main-wrapper.popup_opened .item_popup_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    height: 100%;
}



/*Gallery*/
.popup_content_wrapper.gallery {
    padding: 0;
}


/*author */
.popup_content_wrapper.author .author__content {
    width: 65%;
    padding-left: 35px;
}
.author__image {
    width: 240px;
}
.author__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:  767px) {
    .item_popup_header {
        flex-wrap: wrap;
        text-align: center;
    }
    .partners_item_popup_text {
        width: 100%;
        margin-left: unset;
    }
    .popup_content_wrapper {
        padding: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
    }



    /*author */
    .popup_content_wrapper.author {
       padding: 60px 20px 20px;
   }
    .popup_content_wrapper.author .author__content {
        width: 100%;
        padding: 32px 0;
    }


}
@media (max-width: 580px) {

}